html {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url('beer-bubbles.jpg');
}

.fill {
  height: 100%;
}

.title-text{
  font-size: 40px;
  font-weight: bold;
}

.container-fill{
  height:100%;
  vertical-align:middle;
}

/*#tap-padding {
  float:left; width:100%; text-align: center; height:50%; margin-bottom:-150px;
}*/

/*#beers {
  clear:both; height:250; position:relative;
}*/

#beer-tap {
  background: #FFFFFF;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 15px auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.beer-detail-entry {
  background: #FFFFFF;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 15px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#tap-title {
  background: #FFFFFF;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 15px auto;
  padding: 10px;
  text-align: center;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

